<ion-header>
  <ion-toolbar>
    <ion-title>jwt-demo</ion-title>

    <!-- Mostrar solo si el usuario está autenticado -->
    <ng-container *ngIf="isAuthenticated">
      <ion-buttons slot="end">
        <!-- Botón que dispara el popover -->
        <ion-button id="user-popover-trigger" routerLink="/perfil">
          <ion-icon name="person-circle-outline" slot="start"></ion-icon>
          <ion-label>Hola, {{ userName }}</ion-label>
          <ion-icon name="ellipsis-vertical-outline" slot="end"></ion-icon>
        </ion-button>
      </ion-buttons>

      <!-- Popover para cerrar sesión -->
      <ion-popover trigger="user-popover-trigger" triggerAction="click" size="auto">
        <ng-template>
          <ion-list>
            <ion-item button (click)="cerrarSesion()">
              <ion-icon name="exit-outline" slot="start"></ion-icon>
              <ion-label>Cerrar sesión</ion-label>
            </ion-item>
          </ion-list>
        </ng-template>
      </ion-popover>
    </ng-container>
  </ion-toolbar>
</ion-header>

<ion-router-outlet></ion-router-outlet>