<ion-header>
  <ion-toolbar>
  <ion-title>Página Segura</ion-title>
  </ion-toolbar>
 </ion-header>
 <ion-content class="ion-padding">
  <h1>Bienvenido a la página segura!</h1>
  <p>Solo los usuarios autenticados pueden ver esta página.</p>
  <ion-card *ngIf="token">
  <ion-card-header>
  <ion-card-title>Token JWT</ion-card-title>
  </ion-card-header>
  <ion-card-content>
  <pre>{{ token }}</pre>
  </ion-card-content>
  </ion-card>
  <ion-button expand="full" (click)="logout()">Cerrar Sesión</ion-button>
 </ion-content>