<ion-header [translucent]="true">
  <ion-toolbar color="success">
      <ion-title>
        <ion-icon name="cash-outline" class="dollar-icon"></ion-icon>
        DolaritoApp - Menu
      </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="dollar-background">

  <ion-grid>
  
    <ion-row class="ion-justify-content-center ion-margin-top">

      <ion-col size="12">
        <ion-button expand="block" color="success" routerLink="/cotizacion" size="large">
          <ion-icon name="cash-outline" slot="start"></ion-icon>
          Cotización
        </ion-button>
      </ion-col>

      <ion-col size="12">
        <ion-button expand="block" color="secondary" routerLink="/saldo" size="large">
          <ion-icon name="wallet-outline" slot="start"></ion-icon>
          Saldo
        </ion-button>
      </ion-col>

    </ion-row>

    <ion-row class="ion-justify-content-center">

      <ion-col size="12">
        <ion-button expand="block" color="tertiary" size="large" (click)="autenticarHuella('/comprar')">
          <ion-icon name="cart-outline" slot="start"></ion-icon>
          Comprar
        </ion-button>
      </ion-col>
      
      <ion-col size="12">
        <ion-button expand="block" color="warning" size="large" (click)="autenticarHuella('/vender')">
          <ion-icon name="swap-horizontal-outline" slot="start"></ion-icon>
          Vender
        </ion-button>
      </ion-col>
      
    </ion-row>

    <ion-row class="ion-justify-content-center">

      <ion-col size="12">
        <ion-button expand="block" color="dark" routerLink="/historial" size="large">
          <ion-icon name="time-outline" slot="start"></ion-icon>
          Historial
        </ion-button>
      </ion-col>

      <ion-col size="12">
        <ion-button expand="block" color="danger"  (click)="logout()" size="large">
          <ion-icon name="close-circle-outline" slot="start"></ion-icon>
          Cerrar Sesión
        </ion-button>
      </ion-col>

    </ion-row>

  </ion-grid>

   <!-- Fondo con patrón de dólares -->
   <div class="dollar-pattern"></div> 

</ion-content>
