<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-title>
      <ion-icon name="cash-outline" class="dollar-icon"></ion-icon>
      DolaritoApp
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="dollar-background">

  <ion-grid>
    <ion-row class="ion-justify-content-center ion-margin-top">

      <ion-col size="12">
        <ion-button expand="block" color="success" routerLink="/cotizacion" size="large">
          <ion-icon name="trending-up-outline" slot="start"></ion-icon>
          Ver Cotización
        </ion-button>
      </ion-col>

      <ion-col size="12">
        <ion-button expand="block" color="secondary" routerLink="/saldo" size="large">
          <ion-icon name="wallet-outline" slot="start"></ion-icon>
          Consultar Saldo
        </ion-button>
      </ion-col>

    </ion-row>

    <ion-row class="ion-justify-content-center">

      <ion-col size="12">
        <ion-button expand="block" color="primary" routerLink="/ingresar" size="large">
          <ion-icon name="arrow-down-outline" slot="start"></ion-icon>
          Ingresar Fondos
        </ion-button>
      </ion-col>

      <ion-col size="12">
        <ion-button expand="block" color="warning" routerLink="/retirar" size="large">
          <ion-icon name="arrow-up-outline" slot="start"></ion-icon>
          Retirar Fondos
        </ion-button>
      </ion-col>

    </ion-row>

    <ion-row class="ion-justify-content-center">

      <ion-col size="12">
        <ion-button expand="block" color="tertiary" routerLink="/comprar" size="large">
          <ion-icon name="cart-outline" slot="start"></ion-icon>
          Comprar Dólares
        </ion-button>
      </ion-col>

      <ion-col size="12">
        <ion-button expand="block" color="medium" routerLink="/vender" size="large">
          <ion-icon name="cash-outline" slot="start"></ion-icon>
          Vender Dólares
        </ion-button>
      </ion-col>

    </ion-row>

    <ion-row class="ion-justify-content-center">

      <ion-col size="12">
        <ion-button expand="block" color="dark" routerLink="/historial" size="large">
          <ion-icon name="time-outline" slot="start"></ion-icon>
          Historial de Movimientos
        </ion-button>
      </ion-col>  

    </ion-row>
  </ion-grid>

  <!-- Fondo con patrón de dólares -->
  <div class="dollar-pattern"></div> 

</ion-content>
